 <div class="contents row">
  <i class="large material-icons">child_care</i><i class="large material-icons">airplanemode_inactive</i><i class="large material-icons">3d_rotation</i>
    <div class="success">
      <h3>
        投稿が完了しました。
      </h3>
      <a class="btn" href="/tweets">投稿一覧へ戻る</a>
    </div>
  </div>
